@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This remove the  blue highlight when on touch in mobile
@see https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile#:~:text=add%20to%20the%20button%20style%20%22cursor%3A%20default%3B%22%20This,buttons%20on%20the%20mobile%20screen%20as%20you%20want
  */

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.copied-text {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 4px 8px;
  background-color: #f7fafc;
  border-radius: 4px;
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  animation-name: slide-in-out;
  animation-duration: 2s;
}

@keyframes slide-in-out {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* Scrollbar css related */
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #020617;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #14532d;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #15803d;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: #15803d;
  border-radius: 10px;
}

div::-webkit-scrollbar {
  display: none;
}
