@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 44, 34;
  --background-end-rgb: 2, 6, 23;
  --border-primary: var(--gray-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 2, 44, 34;
    --background-end-rgb: 2, 6, 23;
    --border-primary: var(--gray-800);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.fifi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, green, rgb(0, 255, 0), rgb(0, 247, 111));
  background-size: 800%;
  border-radius: 0.5rem;
  filter: blur(4px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0% 0;
  }
}

/* Get rid of the bg color when autofill */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

/*  focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 */

@layer components {
  input {
    @apply ring-1 focus:outline-emerald-400 ring-white sm:text-sm placeholder:text-gray-400 shadow-sm shadow-emerald-600 bg-gray-100 border-0  text-gray-900 focus:outline-none focus:outline-offset-0 p-2 rounded-md w-full dark:bg-slate-700 dark:placeholder-slate-500 dark:text-gray-300 dark:ring-1 dark:ring-emerald-950  dark:focus:outline-emerald-800;
  }

  textarea {
    @apply min-h-[4rem] ring-1 focus:outline-emerald-400 ring-white sm:text-sm placeholder:text-gray-400 shadow-sm shadow-emerald-600 bg-gray-100 border-0  text-gray-900 focus:outline-none focus:outline-offset-0 p-2 rounded-md w-full dark:bg-slate-700 dark:placeholder-slate-500 dark:text-gray-300 dark:ring-1 dark:ring-emerald-950  dark:focus:outline-emerald-800;
  }
  select {
    @apply ring-1 focus:outline-emerald-400 ring-white sm:text-sm placeholder:text-gray-400 shadow-sm shadow-emerald-600 bg-gray-100 border-0  text-gray-900 focus:outline-none focus:outline-offset-0 p-2 rounded-md w-full dark:bg-slate-700 dark:placeholder-slate-500 dark:text-gray-300 dark:ring-1 dark:ring-emerald-950  dark:focus:outline-emerald-800;
  }
}

/* Scrollbar css related */
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #020617;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #14532d;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #15803d;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: #15803d;
  border-radius: 10px;
}
